@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
	background-color: #ee852249;
	font-family: 'Raleway', sans-serif;
}

/* Bandeau de navigation */

nav {
	position: fixed;
	top: 0;
	left: 0;
	background: #dfc8b3;
	width: 100%;
	text-align: center;
	display: table;
	margin-bottom: 1em;
}

ul {
	display: table-row;
}

li {
	list-style: none;
	display: table-cell;
	font-size: large;
	vertical-align: middle;
}

li:hover {
	font-size: 0.8em;
}

a.navlist {
	color: black;
	float: top;
}

.material-symbols-outlined {
	vertical-align: middle;
}

nav:hover {
	font-size: 2em;
}

/* Titre */

h1.titre {
	font-size: 2em;
	text-align: center;
	color: black;
	margin-top: 1em;
	display: block;
}

/* Contenu */

p {
	font-size: 1em;
}

a.titre {
	color: black;
}

h2, p, h1 {
	text-indent: 0.5em;
}

/* Générateur */

.link-bt {
	margin-right: 0;
	margin-left: 0;
}

.gen {
	display: none;
}

.red {
	color: red;
	text-decoration: underline;
}
