@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
	background: linear-gradient(to bottom, rgb(134, 202, 223), rgb(138, 207, 253))  fixed no-repeat;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}

/* Bandeau de navigation */

nav {
	position: fixed;
	top: 0;
	left: 0;
	background: rgb(189, 188, 123) ;
	width: 100%;
	text-align: center;
	display: table;
	margin-bottom: 1em;

}

nav>ul {
	display: table-row;
}

nav>ul>li {
	list-style: none;
	display: table-cell;
	font-size: large;
	vertical-align: middle;
}

nav>ul>li:hover{
	font-size: 1.5em;
}

nav>ul>li>a {
	color: black;
	float: top;
}

.material-symbols-outlined {
	vertical-align: middle;
}
.material-symbols-outlined:hover {
	font-size: 1.5em;
}

/* Titre */

h1.titre {
	font-size: 2em;
	text-align: center;
	color: black;
	margin-top: 1em;
	display: block;
	font-weight: 400;
}

/* Contenu */

p {
	font-size: 1em;
}

a.titre {
	color: black;
}

.red {
	color: red;
	text-decoration: underline;
}

h2 {
	text-decoration: underline;
}

/* Générateur */

.link-bt {
	margin-right: 0;
	margin-left: 0;
}

.gen {
	display: none;
}

#qrcode {
	padding: 2em;
	background: radial-gradient(to center white, blue);
}

.qrimg {
	display: block;
	border: 0.2em solid black;
}


.funcs_sel {
	text-indent: 10em;
	left : 2em;

}
.funcs_sel_hover {
	display: inline-block;
	left : 2em;
}

/* Pied de page */

footer {
	text-align: center;
	display: table-row;

}
.footer {
	display: table;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: rgb(88, 88, 88);
	font-size: small;
}
.sources {
	float: top;
	display: table-cell;
	text-align: center;
	color: white;
	text-decoration: underline;
}
